<h1>Listing all subscriptions</h1>

<table>
  <tr>
    <td>Feed</td>
    <td>Feed Hub</td>
    <td>Active</td>
    <td>Token</td>
    <td>Last Response Code</td>
    <td>Verified</td>
    <td>Created At</td>
    <td></td>
  </tr>
  <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= subscription.feed.title %></td>
      <td><%= subscription.feed.hub_url %></td>
      <td><%= subscription.active %></td>
      <td><%= subscription.token %></td>
      <td><%= subscription.last_response_code %></td>
      <td><%= subscription.verified %></td>
      <td><%= subscription.created_at %></td>
      <td>
        <form action="/subscription" method="post">
          <input type="hidden" name="subscription[id]" value="<%= subscription.id %>">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete to this subscription" />
        </form>
      </td>
    </tr>
  <% end %>
</table>